@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.left-links{
  display: flex;
  list-style-type: none;
}
.right-links{
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}
a{
  margin: 10px;
  text-decoration: none;
  color: black;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(219, 216, 216);
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}